* {
  box-sizing: border-box;
}

body {
  background: bisque;
  padding-bottom: 30px;
  padding-top: 30px;
}

.calculator {
 width: 450px;
 height: 550px;
 display: flex;
 flex-flow: row wrap;
 padding:2px;
 margin:0;
 list-style: none;
 justify-content:space-around;
 border: 5px solid aqua;
 background-color: coral;
}

.calculator input{
  background: none;
  border: none;
  box-shadow: none;
  width: 100%;
  border-bottom: 2px solid #111;
  padding: 20px;
  text-align: right;
  font-size: 40px;
}

.calculator-buttons{
  padding: 40px;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.box {
 width: 100px;
 height: 100px;
 border: 2px solid black;
 line-height: 100px;
 margin: auto;
 
 background: rgba (0, 0, 0, 0.5);
  border: 1px solid #111;
  padding: 20px;
  color: #EEE;
  border-radius: 5px;
  font-size: 22px;
  cursor: pointer;
} 

.pink {
  background: pink;
}

.blue {
  background: blue;
}

